* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #37353e !important; /* dark grey */
}

/* Welcome Section */
.welcome-section {
  padding: 60px 0;
  background-color: #f8f9fa;
}

.welcome-section h1 {
  color: #37353e;
  font-weight: 700;
}

.welcome-section p {
  color: #555;
}

.welcome-section .btn {
  background-color: #37353e;
  border: none;
}

.welcome-section .btn:hover {
  background-color: #ffb400;
}

html {
  scroll-behavior: smooth;
}

/* Remove navbar padding */
.navbar {
  padding: 0;
}

/* Navbar brand adjustments */
.navbar-brand {
  padding: 0;
  margin: 0;
  height: 100px; /* desired navbar height */
  display: flex;
  align-items: center; /* vertical center */
}

/* Image adjustments */
.navbar-brand img {
  height: 100px; /* keep the height */
  display: block; /* remove inline spacing */
  object-fit: contain; /* maintain aspect ratio */
  border-radius: 5px; /* optional: rounded corners */
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
  color: #ffc107; /* Optional hover effect (gold/yellow) */
}
